@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}
html {
  scroll-behavior: smooth;
}
@layer base {
  html {
    font-family: "Syne", sans-serif;
  }
}
